[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eye"]
	path = eye
	url = https://github.com/tjebo/eye
[submodule "eyedata"]
	path = eyedata
	url = https://github.com/tjebo/eyedata
